<h1>Show Search Results</h1>
<table>
	<% @services.each do |s| %>
	<tr>
		<td><%= s.name %></td>
		<td><%= s.description %></td>
		<td>$<%= s.price %></td>
		<td><%= link_to 'Buy', new_transaction_path(:service => s) %></td>
	</tr>
	<% end %>
</table>