<h1>WelcomeEmail#show</h1>
<p>Find me in app/views/welcome_email/show.html.erb</p>
<p style="color: green"><%= notice %></p>

<h1>Send out the Welcome Email <%= link_to "Send Now", welcome_email_path, method: :post %>