<div class="container">
<h1>Home Page</h1>
<%= form_tag("/search", method: "get") do %>
  <div class="field">
      <input name="service_type" placeholder="What are you looking for?" type="text" class="service_type" id="service_type">
      <input name="service_area" placeholder="Enter your location" type="text" class="service_area" id="service_area">

  </div>
  <div class="field">
    <%= submit_tag("Search") %>
  </div>
<% end %>

</div>
<br/><br/><br/><br/>

